*{
    margin: 0;
    padding:0;
}
body{
    background-image: url(sunset\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    color:rgb(247, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
    height:60%;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 15px 15px 50px black;
    border-radius: 10px;
    backdrop-filter: blur(0.8);
    border-top:2px solid white ;
    overflow: hidden;
}
.container h1 ,p{
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    font-style: italic;
}
.displayResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:15px;
    justify-content:center;
    background-color: black;
    padding:10px;
    width:80%;
    height:60%;
}
#ageInput{
    width:90%;
    padding:5px;
    background-color: rgba(255,255,255,0.2);
    border:none;
    font-weight: bold;
    text-align: center;
    color: black;
   text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
   font-size: 1.5rem;
   font-style: italic;
   margin:2px;
}
#ageInput:focus{
    outline: none;
}
#calcBtn{
    padding:5px;
    width:100%;
    margin:5px;
    border:none;
    background-color:coral;
}
#resetBtn{
    padding:5px;
    width:100%;
    margin:5px;
    border:none;
    background-color:coral
}
#calcBtn:focus{
    outline: none;
}
#resetBtn:focus{
    outline: none;
}
#calcBtn:hover{
    background-color:black ;
    color:white;
}
#resetBtn:hover{
    background-color:black ;
    color:white;
}
 .alert{
    display:none;
}
.alert1{
    display:none;
}
.refresh{
    display: none;
} 
.answer{
    display: none;
}
 .alert.active{
    display:block;
}
.alert1.active{
    display:block;
} 
.answer.active{
    display:block;
}  
@media(max-width:800px)
{
    .container{
        width:60vw;
    }
}
@media(max-width:600px)
{
    .container{
        width:80vw;
    }
}
@media(max-width:300px)
{
    .container{
        width:90vw;
    }
}